.mainWrapper{
    display: flex;
flex-direction: row;
}
.side{

flex: 1;

}
.toMiddle{
    margin-top: 20px;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}