.modalWrapper{
    min-width: 300px;
min-height: 200px;
}
.titleWrapper{
    display: flex;
    justify-content: space-between ;
}
.modalBar{
    border-bottom: 1px solid black;
    width: 100%;
    margin-top: 10px ;
    margin-bottom: 10px ;
}